<div>
    <div class="row">
        <div class="col-lg-6">
            <ol>
                <li>¿Cuál es el consumo eléctrico mensual de su planilla? [kWh]</li>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="Consumo">
                </div>
                <li>¿En su casa hay personas que se encuentran cursando estudios de colegio (una persona que se encuentre en la casa en la media tarde)?</li>
                <br>
                <label class="radio-inline">
                    <input type="radio" value="Si" name="Tarde"  [(ngModel)]="Tarde">
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" value="No" name="Tarde"  [(ngModel)]="Tarde">
                    No 
                </label>
                <br>
                <br>
                <li>¿En su casa tiene cocina de inducción?</li>
                <br>
                <label class="radio-inline">
                    <input type="radio" value="Si" name="Cocina"  [(ngModel)]="Cocina">
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" value="No" name="Cocina"  [(ngModel)]="Cocina">
                    No
                </label>
                <br>
                <br>
                <li>¿En su casa tiene lavadora?</li>
                <br>
                <label class="radio-inline">
                    <input type="radio" value="Si" name="Lavadora"  [(ngModel)]="Lavadora">
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" value="No" name="Lavadora"  [(ngModel)]="Lavadora">
                    No
                </label>
                <br>
                <br>
                <li>¿En su casa tiene secadora?</li>
                <br>
                <label class="radio-inline">
                    <input type="radio" value="Si" name="Secadora" [(ngModel)]="Secadora">
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" value="No" name="Secadora" [(ngModel)]="Secadora">
                    No
                </label>
                <br>
                <br>
                <li>¿En su casa tiene calefón eléctrico?</li>
                <br>
                <label class="radio-inline">
                    <input type="radio" value="Si" name="Calefon"  [(ngModel)]="Calefon">
                    Si
                </label>
                <label class="radio-inline">
                    <input type="radio" value="No" name="Calefon"   [(ngModel)]="Calefon">
                    No
                </label>
                <br>
                <br>
                <button type='submit' class="btn btn-primary" (click)='Dibujar()'>Dibujar</button>
                <!-- cuantas personas -->
                <!-- entrada de gasto/ cambiar la de kWh -->
                <!-- poner todo a electrico -->
                <!-- cambiar potencia de lavaroas tomado en cuenta el numero de personas -->
                <!-- hibridos de gente q este solo en casa -->
                <!-- tomar en cuenta la energia parasita  2.5% o 10%(buscar bibliografia)-->
                
                </ol>
        </div>
        <div class="col-lg-6">
            <!-- {{Consumo}}
            {{Tarde}}
            {{Cocina}}
            {{Lavadora}}
            {{Secadora}}
            {{Calefon}}
            {{Resultado}}
            {{Vector}}
            {{func}} -->
            <div>
                <canvas baseChart 
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
</div>